<h1>Address Book </h1>

<a href="/view_all_contact"><button type="button" class="btn btn-app">View  Contacts</button></a>
<a href="/new_contact_add"><button type="button" class="btn btn-app">Create Contact</button></a>
