<h1>Create a new contact:</h1>

<form class="form-group" action="/contact_created" method="post">

  <label for="contact-fullName">Full Name:</label>
  <input class="form-control" id="contact-fullNamen" type="text" name="contact-name">

  <label for="contact-phoneNumber">Phone Number:</label>
  <input class="form-control" id="contact-phoneNumber" type="text" name="contact-number">

  <label for="contact-address">Address (Line 1):</label>
  <input class="form-control" id="contact-address" type="text" name="contact-address1">

  <label for="contact-city">City:</label>
  <input class="form-control" id="contact-city" type="text" name="contact-city">

  <label for="contact-state">State:</label>
  <input class="form-control" id="contact-state" type="text" name="contact-state">

  <button class="btn btn-app" type="submit">Add Contact</button>
</form>
